#about {
    background-color: #f4f4f4;
    color: white;
  }
  
  .about-section {
    max-width: 600px; 
    margin: 0 auto; 
    text-align: center;
    padding: 40px 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .text-container {
    flex: 1;
    padding-right: 40px;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(179, 107, 179);
  }
  
  .hidden-lg {
    display: none;
  }
  
  .description {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.8;
  }
  

 
  .projects-btn.green:hover {
    background-color: #2f855a;
  }
    