/* Main container */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98vh; 
    padding: 0 10%;
    /* background-color: #f5f2f2;  */
}

/* Left Content Section */
.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1; 
}

.home-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Button Container */
.action-btns {
    display: flex;
    margin-top: 15px;
    gap: 15px; 
}

.about-me-btn, .projects-btn {
    padding: 15px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.about-me-btn {
    background-color: #cf93eb;
    color: white;
}
.projects-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.about-me-btn:hover {
    background-color: white;
    border: 1px solid #caabd8;
    color: #caabd8;
}

.projects-btn:hover {
    background-color: black;
    color: white;
    border: none;
}

/* Right Content Section */
.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Takes equal space */
}


.profile-image {
    width: 450px; 
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.icons-container {
    position: fixed;
    top: 50%; /* This centers the container vertically */
    left: 0;
    transform: translateY(-50%); /* Centering correction */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 10px; /* Space between icons and line */
    padding-right: 10px; /* Optional: space on the other side of the vertical line */
  }

  .icons-container::after {
    content: '';
    position: absolute;
    bottom: -35px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 2px; 
    height: 50px; 
    background-color: #333; 
  }
  

  .icon i {
    font-size: 18px;
    color: #000000; 
    transition: transform 0.3s ease-in-out;
  }
  
  .icon:hover i {
    transform: scale(1.2); 
    color: #0077b5; 
  }
