nav {
  /* background-color: black;
    opacity: 0.2; */
  min-width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  /* justify-content: space-around; */
  background-color: #dddbde;
  /* opacity: 0.2; */
  padding-left: 0;
  margin-top: 0px;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #dcb5ff;
}
